.game-list-container ul {
  list-style: none;
}

.game-list-container ul li {
  margin: 10px;
}

.options .name-input {
  margin:10px;
  width:20%;
}

.stat-title {
  font-weight: bold;
}

.champ-name {
  font-weight: bold;
  font-size: 25px;
}

.main-title, .title, .stat-title {
  font-weight: bold;
}

.main-title {
  font-size: 20px;
  text-decoration: underline;
}

.title {
  font-size: 18px;
  margin-top: 10px;
}
