<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AnguLOL</title>
  <script src="../node_modules/angular/angular.js"></script>
</head>
<body>
  <div id="content" ng-app="index.app">
    <div ng-controller="index.controller">
      <input type="text" ng-model="search_input">
      <button ng-click="search()">Search</button>


    </div>
  </div>
  <script src="./config/config.js"></script>
  <script src="./index.js"></script>
  <script src="./controllers/index_controller.js"></script>
  <script src="./services/service.js"></script>
</body>
</html>